.normalblack_12 {

	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

.linkblue_12 {

	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline

}

.normalgrey_12 {

	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

FORM {

	MARGIN: 0px

}

.websitename_25 {

	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

.smallgrey_10 {

	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

.errmsg_12 {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc3333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

.successmsg_12 {

	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #009900; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

.allradyin {

	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d6e7ff; TEXT-DECORATION: none

}

.normalwhite_11 {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

.normalblack_11 {

	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

INPUT {

	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif

}

BODY {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x

}

.select {

	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.textarea {

	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif

}

#flashMessage {

	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 8px 0px; COLOR: #cc3333; BACKGROUND-COLOR: #fff

}

.error {

	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 8px 0px; COLOR: #cc3333; BACKGROUND-COLOR: #fff

}

.error_message {

	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 8px 0px; COLOR: #cc3333; BACKGROUND-COLOR: #fff

}

.error_message {

	CLEAR: both

}

.error EM {

	FONT-SIZE: 11px; COLOR: #cc3333

}

.black11New2 {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; TEXT-INDENT: 10px; HEIGHT: 25px; BACKGROUND-COLOR: #999999

}

.header1 {

	FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #999999; LINE-HEIGHT: 26px; FONT-FAMILY: "Trebuchet MS"

}

.header4 {

	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #999999; FONT-FAMILY: "Trebuchet MS"; HEIGHT: 26px

}

.greyline1 {

	BACKGROUND-COLOR: #fafafa

}

.dropdown {

	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; Z-INDEX: 1; LEFT: 108px; BORDER-LEFT: #666666 1px solid; WIDTH: 135px; POSITION: absolute; TOP: -25px; BACKGROUND-COLOR: #333333

}

.dropdown UL {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px

}

.dropdown LI {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none

}

.dropdown A:link {

	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; WIDTH: 115px; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #666666 1px solid; TEXT-DECORATION: none

}

.dropdown A:active {

	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; WIDTH: 115px; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #666666 1px solid; TEXT-DECORATION: none

}

.dropdown A:visited {

	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; WIDTH: 115px; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #666666 1px solid; TEXT-DECORATION: none

}

.dropdown A:hover {

	BACKGROUND-COLOR: #444444

}

/* Paging */

div.paging {

	background:#fff;

	color: #ccc;

	margin-bottom: 2em;

}

div.paging div.disabled {

	color: #ddd;

	display: inline;

}

div.paging span {

}

div.paging span.current {

	color: #000;

}

div.paging span a {

}

/*  new css added on 12 feb,2011 */
header .row-1 {height:178px; overflow:hidden;}
.extra-box {overflow:hidden;float:right;margin-right:50px;}
.menu {float:left;  }
.menu li {float:left; font-size:15px; line-height:0.2em; padding-left:1px;list-style:none;}
.menu li a {display:block; color:#fff; padding:15px 19px 18px; background:#4A74A5;}
.menu li .active, .menu li a:hover {background:#63ACFF;} 
.menu .item {padding:0;}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.glossymenu{
list-style-type: none;
margin: 5px 0;
padding: 0;
width: 170px;
border: 1px solid #9A9A9A;
border-bottom-width: 0;
margin-left:5px;
}

.glossymenu li a{
background: white url(../../images/glossyback.gif) repeat-x bottom left;
font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: white;
display: block;
width: auto;
padding: 3px 0;
padding-left: 10px;
text-decoration: none;

}

* html .glossymenu li a{ /*IE only. Actual menu width minus left padding of A element (10px) */
width: 160px;
}

.glossymenu li a:visited, .glossymenu li a:active{
color: white;
}

.glossymenu li a:hover{
background-image: url(../../images/glossyback2.gif);
}


